@font-face {
  font-family: "GongGothicBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GongGothicMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GongGothicLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --text-color: #f0f4f5;
  --background-color: #263343;
  --accent-color: #d49466;
}

body {
  margin: auto;
  font-family: "GongGothicBold";
  background-color: #000;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 58px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 18px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 15px;
}

a,
h1,
h2,
h3,
h4 {
  text-decoration: none;
  color: var(--text-color);
}

.nav_bg {
  position: sticky;
  top: 0;
  background-color: #4c029a;
  padding: 8px 12px;
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 25%;
  margin-right: 25%;
  font-family: "GongGothicMedium";
}

.navbar_logo {
  display: flex;
  padding-left: 20px;
  font-size: 28px;
  vertical-align: middle;
}

.navbar_logo > a {
  padding-top: 3%;
  padding-left: 5px;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
  font-size: 20px;
}

.navbar_menu li {
  padding: 8px 12px;
}

.navbar_menu li:hover {
  background-color: #d49466;
  border-radius: 4px;
}

.navbar_icons {
  list-style: none;
  color: var(--text-color);
  display: flex;
  padding-left: 0;
}

.navbar_icons li {
  padding: 8px 12px;
}

.nav_toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: #d49466;
}

.intro_bg {
  display: inline-block;
  background-image: url(image/about/about_banner.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 720px;
  margin-bottom: 3%;
  margin-top: -100px;
}

.intro_text {
  width: 100%;
  text-align: center;
  margin: 15% auto;
}

.intro_text > h2 {
  margin: 70px 0;
}

.more {
  position: absolute;
  right: 25%;
  top: 15%;
  width: 100px;
  height: 30px;
  font-size: 12px;
  background: #4c029a;
  color: var(--text-color);
  line-height: 30px;
  margin: 0px auto;
  text-align: center;
  cursor: pointer;
}

.container {
  margin-left: 25%;
  margin-right: 25%;
  overflow: hidden;
}

.contents_header {
  text-align: center;
  padding-top: 75px;
}

.about_container {
  padding-bottom: 10%;
}

.about {
  display: flex;
  width: 100%;
  height: 480px;
  margin: 10% 0;
}

.story_container {
  padding-bottom: 10%;
}

.story {
  display: flex;
  margin: 10% 0;
}

.story_contents {
  margin: 0 10%;
  width: 100%;
  text-align: center;
}

.story_contents > img {
  width: 70%;
}

.metacell_container {
  padding-bottom: 10%;
}

.metacell {
  margin: auto;
  margin: 10% 0;
}

.metacell_contents {
  width: 100%;
  text-align: center;
}

.metacell_contents > ul {
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
  -webkit-padding-start: 0px;
}

.metacell_contents > ul > li {
  flex: 1;
  list-style: none;
}

.metacell_contents > ul > li > img {
  width: 100%;
}

.faq_container {
  padding-bottom: 10%;
}

.faq {
  display: flex;
  background: red;
  margin: auto;
}

.faq_contents {
  margin: 0 10%;
  width: 100%;
  background: blue;
  text-align: center;
}

.faq_contents > ul {
  list-style: none;
}

.faq_contents > ul > div {
  flex: 1;
  margin: 20% 0;
}

.ok {
  position: absolute;
  background: #4c029a;
  color: var(--text-color);
  cursor: pointer;
}

.answer {
  display: none;
}

.answer.active {
  display: flex;
}

.team_container {
  padding-bottom: 10%;
}

.team_members {
  display: flex;
  width: 100%;
  margin: 0, auto;
  -webkit-padding-start: 0px;
}
.team_members > li {
  justify-content: space-between;
  background: white;
  text-align: center;
  list-style: none;
}

.team_image > img {
  margin-top: 5%;
  width: 100%;
}

footer {
  font-family: "GongGothicLight";
  padding: 20px;
  background-color: #4c029a;
}

footer > div {
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  align-items: center;
}

footer > div > div:first-child {
  flex: 1;
  text-align: center;
  color: var(--text-color);
}

footer > div > div:last-child {
  flex: 3;
  color: var(--text-color);
}

@media screen and (max-width: 768px) {
  html {
    scroll-behavior: auto;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 18px;
  }

  .nav_bg {
    position: sticky;
    top: 0;
    flex-direction: column;
    background-color: #4c029a;
    padding: 8px 12px;
  }

  .navbar {
    display: inline-block;
    justify-content: space-around;
    align-items: flex-start;
  }

  .navbar_menu {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .navbar_menu li {
    width: 100%;
    text-align: center;
  }

  .navbar_icons {
    display: none;
    width: 100%;
    justify-content: center;
  }

  .nav_toggleBtn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 4%;
    cursor: pointer;
  }

  .container {
    margin-left: 10%;
    margin-right: 10%;
  }

  .intro_bg {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url(image/banner_mobile.png);
    margin-top: 0;
  }

  .story_contents > img {
    width: 100%;
  }

  /* .nav_toggleBtn:hover{
        animation: ani 1s linear infinite alternate;
    }
    @keyframes ani{
        from{transform: scale(1) translate(0);}
        to{transform: scale(1.5) translate(20%);}
    } */

  .navbar_menu.active,
  .navbar_icons.active {
    display: flex;
  }

  .more {
    right: 10%;
  }

  .contents_header {
    text-align: center;
    margin-top: -75px;
    padding-top: 75px;
  }

  footer > div {
    margin: 0;
    display: flex;
    align-items: center;
  }

  footer > div > div:first-child {
    flex: 1;
    text-align: center;
    color: var(--text-color);
  }

  .footer_contents {
    flex: 3;
    color: var(--text-color);
  }
}
