@font-face {
  font-family: "GongGothicBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GongGothicMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GongGothicLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --text-color: #f0f4f5;
  --background-color: #07021f;
  --accent-color: #d49466;
}

body {
  margin: auto;
  font-family: "GongGothicBold";
  background-color: #000;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 58px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 18px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 15px;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  color: var(--text-color);
}

.nav_bg {
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  padding: 8px 12px;
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 25%;
  margin-right: 25%;
  font-family: "NanumSquareExtraBold";
}

.navbar_logo {
  display: flex;
  padding-left: 20px;
  font-size: 28px;
  font-style: italic;
  font-family: "GmarketSansBold";
  vertical-align: middle;
}

.navbar_logo > a {
  padding-top: 11%;
  color: #cf00cf;
  text-shadow: 1px 1px 1px #f0f4f5;
  -webkit-text-stroke: 1px #f0f4f5;
}

.navbar_logo > img {
  width: 80px;
  height: 80px;
  padding: 10px;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
  font-size: 20px;
}

.navbar_menu li {
  padding: 8px 12px;
}

.navbar_menu li:hover {
  background-color: #ac01b4;
  border-radius: 4px;
}

.navbar_icons {
  list-style: none;
  color: var(--text-color);
  display: flex;
  padding-left: 0;
}

.navbar_icons li {
  padding: 8px 12px;
}

.nav_toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: #d49466;
}

.intro_bg {
  display: inline-block;
  background-image: url(image/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 842px;
  margin-bottom: 3%;
}

.intro_text {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 11%;
  font-family: "NanumSquareExtraBold";
}

.intro_text > h3 {
  color: #cf00cf;
  font-style: italic;
  font-size: 36px;
}

.intro_text > h1 {
  margin-top: -10px;
  font-size: 104px;
  font-style: italic;
  font-family: "GmarketSansBold";
  background: linear-gradient(to top, #3f0eac, #ff00cc);
  color: transparent;
  -webkit-background-clip: text;
}

.intro_text > h2:last-child {
  font-size: 24px;
  margin: 70px 0;
}

.container {
  margin-left: 25%;
  margin-right: 25%;
}

.contents_header {
  position: relative;
  text-align: center;
  padding-top: 75px;
  font-family: "NanumSquareExtraBold";
}

.contents_header > h1 {
  padding: 15px 0;
  /* border: 10px solid var(--background-color); */
  background: linear-gradient(to top, #3f0eac, #ff00cc);
  color: transparent;
  -webkit-background-clip: text;
  font-size: 70px;
  font-family: "GmarketSansBold";
  font-style: italic;
}

.contents_header > h2 {
  font-size: 28px;
  font-family: "NanumSquareExtraBold";
}

.about_container {
  padding-bottom: 10%;
}

.about_contents {
  flex-direction: row;
  width: 100%;
}

.section_01 {
  margin-top: 10%;
  width: 100%;
  height: 520px;
  background-image: url(image/about/about_banner.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.section_01 > h3 {
  line-height: 30px;
  font-family: "NanumSquareExtraBold";
}

.section_02 {
  margin-top: 10%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.section_02 > ul {
  -webkit-padding-start: 0px;
  list-style: none;
  font-family: "NanumSquareExtraBold";
}

.story_container {
  padding-bottom: 10%;
}

.story {
  display: flex;
  margin: 10% 0;
}

.story_contents {
  margin-left: 10%;
  margin-right: 10%;
  width: 100%;
  text-align: center;
}

.story_contents > h3 {
  font-size: 40px;
  margin-top: 0;
  text-shadow: 5px 5px 10px #ac01b4;
  font-style: italic;
  padding-bottom: 5%;
  font-family: "NanumSquareExtraBold";
}

.story_contents > h2 {
  text-shadow: 5px 5px 10px #ac01b4;
  font-style: italic;
  font-family: "NanumSquareExtraBold";
  line-height: 80px;
}

.story_contents > img {
  width: 65%;
}

.metacell_container {
  padding-bottom: 10%;
}

.metacell {
  margin: auto;
  margin: 10% 0;
}

.metacell_contents {
  width: 100%;
  text-align: center;
}

.metacell_contents > ul {
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
  -webkit-padding-start: 0px;
}

.metacell_contents > ul:nth-child(1),
.metacell_contents > ul:nth-child(2) {
  border-bottom: #4c029a solid 5px;
}

.metacell_contents > ul > li {
  flex: 1;
  list-style: none;
}

.metacell_contents > ul > li > img {
  width: 100%;
}

.faq_container {
  padding-bottom: 10%;
}

.faq_box {
  display: flex;
  margin: auto;
}

.faq_contents {
  width: 100%;
  text-align: center;
}

.faq_contents > ul {
  list-style: none;
  -webkit-padding-start: 0px;
  font-family: "GongGothicLight";
}

.area {
  display: block;
  padding: 3%;
  line-height: 40px;
}

.faq {
  text-align: left;
  font-family: "GmarketSansBold";
}

.faq > li > h2 {
  font-size: 26px;
}

.faq > li > h3 {
  font-size: 20px;
  margin-left: 10px;
}

.faq > li {
  display: flex;
}

.answer {
  margin-left: 7%;
  margin-right: 7%;
  text-align: left;
  font-family: "NanumSquareExtraBold";
}

.team_container {
  padding-bottom: 10%;
}

.team_members {
  margin-top: 10%;
  display: flex;
  width: 100%;
  margin: 0, auto;
  -webkit-padding-start: 0px;
}

.team_members > li {
  justify-content: space-between;
  text-align: center;
  list-style: none;
  align-items: baseline;
}

.team_members > li > div:last-child > h5 {
  font-size: 22px;
  font-family: "GmarketSansBold";
}

.team_members > li > div:last-child > h6 {
  margin-top: -15px;
  font-size: 18px;
  font-family: "NanumSquareExtraBold";
}

.team_image > img {
  margin-top: 5%;
  width: 90%;
}

footer {
  font-family: "GongGothicLight";
  padding: 20px;
  background-color: var(--background-color);
}

footer > div {
  font-family: "NanumSquareExtraBold";
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  align-items: center;
}

footer > div > div:first-child {
  flex: 1;
  text-align: center;
  color: var(--text-color);
}

.footer_contents {
  flex: 3;
  color: var(--text-color);
}

.footer_contents > h6 {
  font-size: 18px;
  line-height: 25px;
}

@media screen and (max-width: 768px) {
  html {
    scroll-behavior: auto;
  }

  h1 {
    font-size: 36px;
  }

  h2,
  h3 {
    font-size: 18px;
  }

  .navbar {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0;
  }

  .navbar_logo {
    font-size: 23px;
  }

  .navbar_logo > a {
    margin-top: 4px;
  }

  .navbar_menu {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .navbar_menu li {
    width: 100%;
    text-align: center;
  }

  .navbar_icons {
    display: none;
    width: 100%;
    justify-content: center;
  }

  .nav_toggleBtn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 4%;
    cursor: pointer;
  }

  .navbar_menu.active,
  .navbar_icons.active {
    display: flex;
  }

  .container {
    margin-left: 10%;
    margin-right: 10%;
  }

  .contents_header {
    text-align: center;
    margin-top: -75px;
    padding-top: 75px;
  }

  .intro_bg {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(image/banner_mobile.png);
    background-size: contain;
  }

  .intro_text {
    margin-top: 40%;
  }

  .intro_text > h2 {
    margin: 20% 0;
  }

  .section_01 > h2 {
    font-size: 24px;
  }

  .section_01 > h3 {
    font-size: 15px;
  }

  .story_contents {
    margin: 0;
  }

  .story_contents > img {
    width: 100%;
  }

  .metacell_contents {
    font-family: "GongGothicLight";
  }

  .metacell_contents > ul > li > h3 {
    font-size: 15px;
  }

  .metacell_contents > ul > li > h4 {
    font-size: 10px;
  }

  .faq {
    margin-left: 3%;
    margin-right: 3%;
  }

  .answer {
    margin-left: 3%;
    margin-right: 3%;
  }

  .team_members {
    flex-wrap: wrap;
  }

  .team_image > img {
    width: 70%;
  }

  footer > div {
    margin: 0;
    display: flex;
    align-items: center;
  }

  footer > div > div:first-child {
    flex: 1;
    text-align: center;
    color: var(--text-color);
  }

  .footer_contents {
    flex: 3;
    color: var(--text-color);
  }

  .footer_contents > h6 {
    margin-left: 10px;
    font-size: 12px;
  }
}
