/* 반응형 */

:root {
    --text-color: #f0f4f5;
    --background-color:#263343
    --accent-color: #d49466
}

body {
    margin: auto;
    font-family: "Noto Sans KR", sans-serif;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.navbar {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4C029A;
    padding: 8px 12px;
}

.navbar_logo {
    display: flex;
    padding-left: 20px;
    font-size: 28px;
    vertical-align: middle;
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    font-size: 20px;
}

.navbar_menu li {
    padding: 8px 12px;
}

.navbar_menu li:hover {
    background-color: #d49466;
    border-radius: 4px;
}

.navbar_icons {
    list-style: none;
    color: #fff;
    display: flex;
    padding-left: 0;
}

.navbar_icons li {
    padding: 8px 12px;
}

.nav_toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #d49466;
}

.intro_bg {
    display: inline-block;
    background-image: url(image/intro.png);
    width: 100%;
    height: 718px;
}

.intro_text {
    width: 100%;
    margin: auto;
    text-align: center;
    margin: 231px auto 231px auto;
}

.intro_text > h1,
.intro_text > h4 {
    color: #fff;
}

.contents_header {
    text-align: center;
}
.about {
    display: flex;
    background: red;
    width: 100%;
    height: 718px;
    margin: auto
}

.about_contents  {
    flex: 1;
    background: blue;
    margin: 0 100px;
}

.about_image {
    flex: 1;
    background: green;
}

.more {
    width: 100px;
    height: 30px;
    font-size: 12px;
    background: #2f7afa;
    color: #fff;
    line-height: 30px;
    margin: 25px auto;
    text-align: center;
}

.story {
    display: flex;
    background: red;
    height: 600px;
    margin: auto;
}

.story_contents {
    margin: 0 100px;
    width: 100%;
    background: blue;
    text-align: center;
}

.metacell {
    display: flex;
    background: red;
    height: 600px;
    margin: auto;
}

.metacell_contents {
    margin: 0 100px;
    width: 100%;
    background: blue;
    text-align: center;
}

.metacell_sprout {
    display: flex;
    justify-content: space-around;
    flex: 1;
    background: brown;
}

.metacell_adult {
    display: flex;
    justify-content: space-around;
    flex: 1;
    background: yellow;
}

.metacell_spawning {
    display: flex;
    justify-content: space-around;
    flex: 1;
    background: blueviolet;
}

.faq {
    display: flex;
    background: red;
    height: 600px;
    margin: auto;
}

.faq_contents {
    margin: 0 100px;
    width: 100%;
    background: blue;
    text-align: center;
}

.team {
    display: flex;
    background: red;
    height: 600px;
    margin: auto;
}

.team_contents {
    margin: 0 100px;
    width: 100%;
    background: blue;
    text-align: center;
}

.team_members {
    display: flex;
    width: 1280px;
    margin: auto;
}
.team_members > li {
    margin: auto;
    height: 512px;
    background: white;
    text-align: center;
    list-style: none;
}

.team_image{
    margin-top: 36px;
}

.team_image > img {
    margin-top: 36px;
    width: 250px;
    height: 250px;
}

footer {
    display: flex;
    align-items: center;
    padding: 30px;
    background-color: #4C029A;
}
  
footer > div:first-child {
    flex: 1;
    text-align: center;
    color: #fff;
}
  
footer > div:last-child {
    flex: 3;
    color: #fff;
}
  


@media screen and (max-width: 768px){
    .navbar {
        position: sticky;
        top: 0px;
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar_menu {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .navbar_menu li{
        width: 100%;
        text-align: center;
    }

    .navbar_icons {
        display: none;
        width: 100%;
        justify-content: center;
    }

    .nav_toggleBtn {
        display: block;
    }

    /* .nav_toggleBtn:hover{
        animation: ani 1s linear infinite alternate;
    }
    @keyframes ani{
        from{transform: scale(1) translate(0);}
        to{transform: scale(1.5) translate(20%);}
    } */

    .navbar_menu.active,
    .navbar_icons.active {
        display: flex;
    }
}